opencv-contrib-python-headless
fastapi==0.116.1
uvicorn[standard]==0.40.0
pydantic
numpy
requests
nowcasting_datamodel==1.7.0
sqlalchemy
psycopg2-binary
geopandas
aiofiles
pytest-cov
testcontainers
fastapi-auth0==0.5.0
httpx
structlog
sentry-sdk
slowapi
pathy==0.10.3
fsspec
s3fs
elexonpy
apitally[fastapi]