opencv-contrib-python-headless==4.5.5.64
fastapi
uvicorn[standard]
pydantic
numpy
requests
#nowcasting_datamodel==1.3.10
nowcasting_datamodel @ git+https://github.com/openclimatefix/nowcasting_datamodel.git@7eb426c10118eb7b604249a96bde9e5ad814170b#egg=nowcasting_datamodel
nowcasting_dataset==3.7.12
sqlalchemy
psycopg2-binary
geopandas
aiofiles
pytest-cov
fastapi-auth0==0.3.0
httpx
structlog
sentry-sdk
